FLASK_SECRET_KEY=sua-chave-secreta-aqui
GOOGLE_MAPS_API_KEY=sua-api-key-google-maps
GMAIL_CLIENT_ID=seu-client-id-gmail
GMAIL_CLIENT_SECRET=seu-client-secret-gmail
WPPCONNECT_URL=http://localhost:21465
WPPCONNECT_SECRET_KEY=sua-secret-key-wppconnect
